@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$borderWidth: 5px;

.latestOffer {
  background-color: orangered;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: relative;

  img {
    flex: 1;
    border: 5px solid orangered;
  }

  .banner {
    background-color: rgba(255, 70, 0, .65);
    position: absolute;
    $space: 10px;
    bottom: $space;
    left: $space;
    right: $space;
    height: 60px;
    color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 15px black;
    border-bottom: px solid #604e28;

    .column {

      flex: 1;
      display: flex;
      flex-direction: column;

      .cell {
        flex: 1;
        display: flex;
        align-items: flex-start;
        padding-left: 15px;
        color: white;
        &:first-child {
          font-weight: bold;
          align-items: flex-end;
        }

        &.oldPrice {
          font-size: .8em;
        }

        &.offer {
          color: #ffc69d;
          text-shadow: 0 0 3px rgba(255, 255, 255, .25);
        }

        &.shaded {
          text-shadow: 1px 1px 3px #3a301a;
        }
      }

      &.price {
        font-size: 1.5em;
        .cell {
          justify-content: flex-end;
          padding-right: 15px;

          &:first-child {
            text-decoration: line-through;
            color: rgba(255, 255, 255, .35);
          }
        }
      }      
    }
  }

  .shadow {
    position: absolute;
    left: $borderWidth;
    top: $borderWidth;
    right: $borderWidth;
    bottom: $borderWidth;
    box-shadow: 0 0 30px rgba(0, 0, 0, .4) inset;
  }
}